# env files
.env
othentic/.env

# go
go.sum

# release
release/*

# cursor
.cursor 

# othentic
othentic/.keystore/*
othentic/data/peerstore/*
!othentic/data/peerstore/.gitkeep
othentic/data/logs/*
!othentic/data/logs/.gitkeep

# data
data/cache/*
!data/cache/.gitkeep
data/logs/*/*.log
!data/logs/*/.gitkeep

# Signing keys
*.key
*.pub

# peerstore
peerstore/