# env files
.env
othentic/.env

# release
release/*

scripts/tests/*.html

# cursor
.cursor 
.keystore

# data
data/cache/*
!data/cache/.gitkeep
data/logs/*/*.log*
data/logs/*/*.json
!data/logs/*/.gitkeep
data/loki/
data/mimir/
data/tempo/
data/grafana/
data/scylla/

# Signing keys
*.key
*.pub
*.crt

# peerstore
peerstore/

reference/

.log

u_block_poll/
v_data/
w_keeper_setup/
x_frontend/
y_contracts/
z_sdk/
