.env

go.sum

config-files/*.yaml
release/*

.keystore/*

data/cache/*
data/logs/*/*.log
data/peer_registry/services_privKeys.json
data/peer_registry/*_identity.json
!data/logs/*/.gitkeep

data/logs/*/*.log
cosign.key
cosign.pub
