KEEPER_PRIVATE_KEY=0x0000000000000000000000000000000000000000000000000000000000000000
KEEPER_NAME=your_keeper_name_optional
KEEPER_PORT=your_custom_port_optional

TRON_FULL_HOST=https://nile.trongrid.io
ETHEREUM_RPC_URL=https://eth-holesky.g.alchemy.com/v2/9eCzjtGExJJ6c_WwQ01h6Hgmj8bjAdrc