L1_RPC=
L2_RPC=

# DEBUG=*
INTERNAL_TASKS=[{"name":"VOTING_POWER_SYNC","interval": 60000},{"name": "VOTING_POWER_PER_TASK_DEFINITION_SYNC", "interval": 60000}]

AVS_GOVERNANCE_ADDRESS=0x635F64A20c5D738F6Cb2E631DF4F4ED74296B4fd
ATTESTATION_CENTER_ADDRESS=0xB3c01C8BaEF65436B0d01F891d00B25CA9d7D383

OTHENTIC_BOOTSTRAP_ID=12D3KooWBNFG1QjuF3UKAKvqhdXcxh9iBmj88cM5eU2EK5Pa91KB
OTHENTIC_BOOTSTRAP_SEED=97a64de0fb18532d4ce56fb35b730aedec993032b533f783b04c9175d465d9bf

AGGREGATOR_BLS_PRIVATE_KEY=
AGGREGATOR_OPERATOR_ADDRESS=
AGGREGATOR_OPERATOR_PRIVATE_KEY=

# Performer Keeper
PERFORMER_BLS_PRIVATE_KEY=
PERFORMER_OPERATOR_ADDRESS=
PERFORMER_OPERATOR_PRIVATE_KEY=
PERFORMER_OPERATOR_PEER_ID=

# Validator Keeper
VALIDATOR_BLS_PRIVATE_KEY=
VALIDATOR_OPERATOR_ADDRESS=
VALIDATOR_OPERATOR_PRIVATE_KEY=
VALIDATOR_OPERATOR_PEER_ID=
