x-otnode: &otnode
  env_file:
    - .env
  build:
    context: .
    dockerfile: ./Dockerfile
    no_cache: true

services:
  aggregator:
    profiles: [agg]
    container_name: aggregator
    <<: *otnode
    network_mode: host
    env_file:
      - .env
    command: [
      "run",
      "aggregator",
      "--l1-chain", "sepolia",
      "--l2-chain", "base-sepolia",
      "--json-rpc",
      "--json-rpc.port", "9001",
      "--json-rpc.custom-message-enabled",
      "--p2p.port", "9876"
    ]
    environment:
      - PRIVATE_KEY=${AGGREGATOR_OPERATOR_PRIVATE_KEY}
      - OPERATOR_ADDRESS=${AGGREGATOR_OPERATOR_ADDRESS}
      - BLS_PRIVATE_KEY=${AGGREGATOR_BLS_PRIVATE_KEY}
      - L1_RPC=${L1_RPC}
      - L2_RPC=${L2_RPC}
      - AVS_GOVERNANCE_ADDRESS=${AVS_GOVERNANCE_ADDRESS}
      - ATTESTATION_CENTER_ADDRESS=${ATTESTATION_CENTER_ADDRESS}
      - OTHENTIC_BOOTSTRAP_ID=${OTHENTIC_BOOTSTRAP_ID}
      - OTHENTIC_BOOTSTRAP_SEED=${OTHENTIC_BOOTSTRAP_SEED}
    volumes:
      - ../data/logs/aggregator:/data/logs

  performer:
    profiles: [node]
    container_name: performer
    <<: *otnode
    network_mode: host
    env_file:
      - .env
    command: [
      "run",
      "attester",
      "/ip4/127.0.0.1/tcp/9876/p2p/12D3KooWBNFG1QjuF3UKAKvqhdXcxh9iBmj88cM5eU2EK5Pa91KB",
      "--avs-webapi", "http://127.0.0.1",
      "--avs-webapi-port", "9008",
      "--l1-chain", "sepolia",
      "--l2-chain", "base-sepolia",
      "--json-rpc",
      "--json-rpc.port", "9010",
      "--json-rpc.custom-message-enabled",
      "--p2p.port", "9875"
    ]
    environment:
      - PRIVATE_KEY=${PERFORMER_PRIVATE_KEY}
      - OPERATOR_ADDRESS=${PERFORMER_OPERATOR_ADDRESS}
      - L1_RPC=${L1_RPC}
      - L2_RPC=${L2_RPC}
      - AVS_GOVERNANCE_ADDRESS=${AVS_GOVERNANCE_ADDRESS}
      - ATTESTATION_CENTER_ADDRESS=${ATTESTATION_CENTER_ADDRESS}
    volumes:
      - ../data/logs/performer:/data/logs
