x-othentic-cli: &othentic-cli
  env_file:
    - .env
  build:
    context: .
    dockerfile: ./Dockerfile
    no_cache: true

services:
  aggregator:
    container_name: aggregator
    <<: *othentic-cli
    env_file:
      - .env
    command: [
      "node",
      "aggregator",
      "--l1-chain", "sepolia",
      "--l2-chain", "base-sepolia",
      "--json-rpc",
      "--json-rpc.port", "9001",
      "--json-rpc.custom-message-enabled",
      "--p2p.port", "9876",
      "--p2p.datadir", "/data/peerstore",
      "--p2p.discovery-interval", "10000",
      # "--p2p.public-ip", "${PUBLIC_IP_ADDRESS}",
      "--metrics",
      "--metrics.port", "9021",
      "--internal-tasks",
      "--delay", "10000",
      "--aggregator.simulate-transactions", "true",
      "--keystore", "/data/keystore/aggregator.json",
      "--keystore-password", "${AGGREGATOR_KEYSTORE_PASSWORD}"
    ]
    environment:
      - OPERATOR_ADDRESS=${AGGREGATOR_OPERATOR_ADDRESS}
      - BLS_PRIVATE_KEY=${AGGREGATOR_BLS_PRIVATE_KEY}
      - LOG_DIR=${LOG_DIR}
      - L1_RPC=${L1_RPC}
      - L2_RPC=${L2_RPC}
      - INTERNAL_TASKS=${INTERNAL_TASKS}
      - AVS_GOVERNANCE_ADDRESS=${AVS_GOVERNANCE_ADDRESS}
      - ATTESTATION_CENTER_ADDRESS=${ATTESTATION_CENTER_ADDRESS}
      - OTHENTIC_BOOTSTRAP_ID=${OTHENTIC_BOOTSTRAP_ID}
      - OTHENTIC_BOOTSTRAP_SEED=${OTHENTIC_BOOTSTRAP_SEED}
      - PUBLIC_IP_ADDRESS=${PUBLIC_IP_ADDRESS}
    volumes:
      - ../data/peerstore/aggregator:/data/peerstore
      - ../data/logs/aggregator:/data/logs
      - ../.keystore/aggregator.json:/data/keystore/aggregator.json
    ports:
      - "9876:9876"
      - "9001:9001"
    networks:
      p2p:
        ipv4_address: 172.28.0.69

  # performer:
  #   container_name: performer
  #   <<: *othentic-cli
  #   env_file:
  #     - .env
  #   command: [
  #     "node",
  #     "attester",
  #     "/ip4/172.28.0.69/tcp/9876/p2p/12D3KooWBNFG1QjuF3UKAKvqhdXcxh9iBmj88cM5eU2EK5Pa91KB",
  #     "--avs-webapi", "http://host.docker.internal",
  #     "--avs-webapi-port", "9008",
  #     "--l1-chain", "sepolia",
  #     "--l2-chain", "base-sepolia",
  #     "--json-rpc.custom-message-enabled",
  #     "--p2p.port", "9875",
  #     "--p2p.datadir", "/data/peerstore",
  #     "--p2p.discovery-interval", "60000",
  #     # "--p2p.public-ip", "${PUBLIC_IP_ADDRESS}",
  #     "--metrics",
  #     "--metrics.port", "9028"
  #   ]
  #   environment:
  #     - PRIVATE_KEY=${PERFORMER_PRIVATE_KEY}
  #     - OPERATOR_ADDRESS=${PERFORMER_OPERATOR_ADDRESS}
  #     - LOG_DIR=${LOG_DIR}
  #     - L1_RPC=${L1_RPC}
  #     - L2_RPC=${L2_RPC}
  #     - AVS_GOVERNANCE_ADDRESS=${AVS_GOVERNANCE_ADDRESS}
  #     - ATTESTATION_CENTER_ADDRESS=${ATTESTATION_CENTER_ADDRESS}
  #     - PUBLIC_IP_ADDRESS=${PUBLIC_IP_ADDRESS}
  #   volumes:
  #     - ../data/peerstore/performer:/data/peerstore
  #     - ../data/logs/performer:/data/logs
  #   ports:
  #     - "9875:9875"
  #     # - "9008:9008"
  #   networks:
  #     p2p:
  #       ipv4_address: 172.28.0.70
  #   # depends_on:
  #   #   aggregator:
  #   #     condition: service_started
  #   extra_hosts:
  #     - "host.docker.internal:host-gateway"

  # attester:
  #   container_name: attester
  #   <<: *othentic-cli
  #   env_file:
  #     - .env
  #   command: [
  #     "node",
  #     "attester",
  #     "/ip4/172.28.0.69/tcp/9876/p2p/12D3KooWBNFG1QjuF3UKAKvqhdXcxh9iBmj88cM5eU2EK5Pa91KB",
  #     "/ip4/172.28.0.70/tcp/9875/p2p/${PERFORMER_OPERATOR_PEER_ID}",
  #     "--avs-webapi", "http://host.docker.internal",
  #     "--avs-webapi-port", "9009",
  #     "--l1-chain", "sepolia",
  #     "--l2-chain", "base-sepolia",
  #     "--json-rpc.custom-message-enabled",
  #     "--p2p.port", "9874",
  #     "--p2p.datadir", "/data/peerstore",
  #     "--p2p.discovery-interval", "60000",
  #     # "--p2p.public-ip", "${PUBLIC_IP_ADDRESS}",
  #     "--metrics",
  #     "--metrics.port", "9029"
  #   ]
  #   environment:
  #     - PRIVATE_KEY=${ATTESTER_PRIVATE_KEY}
  #     - OPERATOR_ADDRESS=${ATTESTER_OPERATOR_ADDRESS}
  #     - LOG_DIR=${LOG_DIR}
  #     - L1_RPC=${L1_RPC}
  #     - L2_RPC=${L2_RPC}
  #     - AVS_GOVERNANCE_ADDRESS=${AVS_GOVERNANCE_ADDRESS}
  #     - ATTESTATION_CENTER_ADDRESS=${ATTESTATION_CENTER_ADDRESS}
  #     - PUBLIC_IP_ADDRESS=${PUBLIC_IP_ADDRESS}
  #     - PERFORMER_OPERATOR_PEER_ID=${PERFORMER_OPERATOR_PEER_ID}
  #   volumes:
  #     - ../data/peerstore/attester:/data/peerstore
  #     - ../data/logs/attester:/data/logs
  #   ports:
  #     - "9874:9874"
  #     # - "9009:9009"
  #   networks:
  #     p2p:
  #       ipv4_address: 172.28.0.71
  #   depends_on:
  #     performer:
  #       condition: service_started
  #   extra_hosts:
  #     - "host.docker.internal:host-gateway"

networks:
  p2p:
    driver: bridge
    ipam:
     config:
       - subnet: 172.28.0.0/16
         gateway: 172.28.0.1
