name: Golang

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Go environment
        uses: actions/setup-go@v6.1.0
        with:
          go-version: '1.25.5'

      - name: Build
        run: go build -v ./...

      - name: Check for mod tidy
        run: |
          go mod tidy
          git diff --exit-code go.mod go.sum
