name: Golang Lint

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:

jobs:
  Lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Go environment
        uses: actions/setup-go@v6.1.0
        with:
          go-version: '1.25.5'

      - name: Golangci-lint
        uses: golangci/golangci-lint-action@v9.2.0
        with:
          version: latest
          args: --timeout 3m
